<div id="table-wrapper">
  <div id="table-scroll">
  <nz-table #basicTable [nzData]="services" class="table">
    <thead>
    <tr>
      <th>نام/ مشخصه</th>
      <th>هزینه</th>
      <th>تاریخ سر رسید</th>
      <th>عملیات</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let service of services">
      <td class="table__name">{{ service?.name }}</td>
      <td>(ماهیانه) تومان{{ service?.amount }}</td>
      <td>{{ service?.nextduedate }}</td>
      <td>
        <button nz-button nzType="default">مدیریت سیستم</button>
      </td>
    </tr>
    </tbody>
  </nz-table>
</div>
</div>

