<div id="table-wrapper">
  <div id="table-scroll">
  <nz-table [nzData]="services" class="table">
    <thead>
    <tr>
      <th>نام/ مشخصه</th>
      <th>هزینه</th>
      <th>تاریخ سر رسید</th>
      <th>عملیات</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let service of services" class="table__item">
      <td>
        <div class="table__property">
          <div [ngClass]="['text',service.type]">•</div>
          <img class="table__row-icon" [src]="'assets/icons/' + service.type + '.svg'">
          <div>{{ service?.name }}</div>
        </div>

      </td>
      <td>(ماهیانه) تومان{{ service?.amount }}</td>
      <td>{{ service?.nextduedate }}</td>
      <td>
        <button nz-button nzType="default">مدیریت سیستم</button>
      </td>
    </tr>
    </tbody>
  </nz-table>
</div>
</div>

